<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/layout.css" />
    @if (IsSectionDefined("scriptContent"))
    {
        @RenderSection("scriptContent")
    }
</head>
<body>
    <nav class="navbar">
        <a href="~/Index" onclick="clearSessionStorage();">Home</a>
        <a href="~/AddCustomer" onclick="clearSessionStorage();">Add Customer</a>
        <a href="~/DeleteCustomer" onclick="clearSessionStorage();">Delete Customer</a>
        <a href="~/UpdateCustomer" onclick="clearSessionStorage();">Update Customer</a>
        <a href="~/AddItem" onclick="clearSessionStorage();">Add Item</a>
        <a href="~/DeleteItem" onclick="clearSessionStorage();">Delete Item</a>
        <a href="~/UpdateItem" onclick="clearSessionStorage();">Update Item</a>
        <a href="~/ProcessSale" onclick="clearSessionStorage();">Process Sale</a>
    </nav>
    <header>
        @if (IsSectionDefined("headerContent"))
        {
            @RenderSection("headerContent")
        }
    </header>
    <main>
        @if (IsSectionDefined("mainContent"))
        {
            @RenderSection("mainContent")
        }
    </main>
    <footer>
        @if (IsSectionDefined("footerContent"))
        {
            @RenderSection("footerContent")
        }
        <p>Made by Thomas Gander for BAIS3150</p>
    </footer>
</body>
</html>

<script>
    function clearSessionStorage() {
        sessionStorage.clear();
    }
</script>
