@page
@model BAIS3150_ABC_Hardware_Final.Pages.AddCustomerModel
@{
}

@section mainContent {
    @Model.ConfirmationMessage
    <h1>Add Customer Form</h1>
    <form id="AddCustomerForm" method="post" onsubmit="return isAddCustomerFormValid(document.getElementById('AddCustomerForm'));">
        <table>
            <tr>
                <td>First Name:</td>
                <td>
                    <input type="text" asp-for="FirstName" value="@Model.FirstName" />
                    <br />
                    <span id="firstNameValid" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                    <input type="text" asp-for="LastName" value="@Model.LastName" />
                    <br />
                    <span id="lastNameValid" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>
                    <input type="text" asp-for="Address" value="@Model.Address" />
                    <br />
                    <span id="addressValid" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <input type="text" asp-for="City" value="@Model.City" />
                    <br />
                    <span id="cityValid" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>Province:</td>
                <td>
                    <input type="text" asp-for="Province" value="@Model.Province" />
                    <br />
                    <span id="provinceValid" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>PostalCode:</td>
                <td>
                    <input type="text" asp-for="PostalCode" value="@Model.PostalCode" />
                    <br />
                    <span id="postalCodeValid" style="color: red;"></span>
                </td>
            </tr>
        </table>
        <button type="submit" style="margin-top: 10px;">Submit</button>
        <button type="button" id="Reset" style="margin: 10px 0;">Reset Form</button>
    </form>
}

@section scriptContent {
    <script src="~/js/Customer.js"></script>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
                    document.getElementById('Reset').addEventListener('click', function() {
                    sessionStorage.clear();
                    location.reload();
                });
            });
    </script>
}