@page
@model BAIS3150_ABC_Hardware_Final.Pages.AddItemModel
@{
}

@section mainContent {
    @Model.ConfirmationMessage
    <h1>Add Item Form</h1>
    <form id="AddItemForm" method="post" onsubmit="return isAddItemFormValid(document.getElementById('AddItemForm'));">
        <table>
            <tr>
                <td>Item Number:</td>
                <td>
                    <input type="text" asp-for="ItemNumber" value="@Model.ItemNumber" />
                    <br />
                    <span id="itemNumberValid" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>
                    <input type="text" asp-for="Description" value="@Model.Description" />
                    <br />
                    <span id="descriptionValid" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>Unit Price:</td>
                <td>
                    <input type="text" asp-for="UnitPrice" value="@Model.UnitPrice" />
                    <br />
                    <span id="unitPriceValid" style="color: red;"></span>
                </td>
            </tr>
            <tr>
                <td>Quantity on Hand:</td>
                <td>
                    <input type="text" asp-for="QuantityOnHand" value="@Model.QuantityOnHand" />
                    <br />
                    <span id="quantityOnHandValid" style="color: red;"></span>
                </td>
            </tr>
        </table>
        <button type="submit" style="margin-top: 10px;">Submit</button>
        <button type="button" id="Reset" style="margin: 10px 0;">Reset Form</button>
    </form>
}

@section scriptContent {
    <script src="~/js/Item.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('Reset').addEventListener('click', function() {
                sessionStorage.clear();
                location.reload();
            });
        });
    </script>
}