@page
@model BAIS3150_ABC_Hardware_Final.Pages.DeleteCustomerModel
@using BAIS3150_ABC_Hardware_Final.Domain
@using System.Text.Json;
@{
}

@section mainContent {
    @Model.ConfirmationMessage
    <h1>Delete Customer Form</h1>
    <form method="post" onsubmit="return isDeleteCustomerFormValid(document.getElementById('deleteCustomerForm'))" id="deleteCustomerForm">
        <table>
            <tr>
                <td>Customer ID:</td>
                <td>
                    <input asp-for="CustomerID" type="text" autocomplete="off" list="customers" placeholder="Search..." name="CustomerID" id="CustomerID">
                    <datalist id="customers">
                        @foreach (Customer customer in Model.Customers)
                        {
                            <option value="@customer.CustomerID" data-customer="@System.Web.HttpUtility.HtmlEncode(Json.Serialize(customer))">@customer.FirstName @customer.LastName</option>
                        }
                    </datalist>
                </td>
            </tr>
        </table>
        <button type="button" id="LoadCustomerDetails" style="margin-top: 10px;">Load Details</button>
    </form>
    <br />
    <span id="validationMessage" style="color: red;"></span>
    <table id="customerDetails">
    </table>
    <button type="button" id="Reset" style="margin: 10px 0;">Reset Form</button>
}

@section scriptContent {
    <script src="~/js/Customer.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let customers = @Html.Raw(JsonSerializer.Serialize(Model.Customers));

            document.getElementById('LoadCustomerDetails').addEventListener('click', function () {
                loadCustomerDetails(document.getElementById('CustomerID').value);
            });

            document.getElementById('Reset').addEventListener('click', function() {
                sessionStorage.clear();
                location.reload();
            });
        });
    </script>
}