@page
@model BAIS3150_ABC_Hardware_Final.Pages.DeleteItemModel
@using BAIS3150_ABC_Hardware_Final.Domain
@using System.Text.Json;
@{
}

@section mainContent {
    @Model.ConfirmationMessage
    <h1>Delete Item Form</h1>
    <form method="post" onsubmit="return isDeleteItemFormValid(document.getElementById('deleteItemForm'));" id="deleteItemForm">
        <table>
            <tr>
                <td>Item Number:</td>
                <td>
                    <input asp-for="ItemNumber" type="text" autocomplete="off" list="items" placeholder="Search..." name="ItemNumber" id="ItemNumber">
                    <datalist id="items">
                        @foreach (Item item in Model.Items)
                        {
                            <option value="@item.ItemNumber" data-item="@System.Web.HttpUtility.HtmlEncode(Json.Serialize(item))">@item.Description</option>
                        }
                    </datalist>
                </td>
            </tr>
        </table>
        <button type="button" id="LoadItemDetails" style="margin-top: 10px;">Load Details</button>
    </form>
    <br />
    <span id="validationMessage" style="color: red;"></span>
    <table id="itemDetails">
    </table>
    <button type="button" id="Reset" style="margin: 10px 0;">Reset Form</button>

}

@section scriptContent {
    <script src="~/js/Item.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let items = @Html.Raw(JsonSerializer.Serialize(Model.Items));

            document.getElementById('LoadItemDetails').addEventListener('click', function () {
                loadItemDetails(document.getElementById('ItemNumber').value);
            });

            document.getElementById('Reset').addEventListener('click', function() {
                sessionStorage.clear();
                location.reload();
            });
        });
    </script>
}
