@page
@model BAIS3150_ABC_Hardware_Final.Pages.ProcessSaleModel
@using BAIS3150_ABC_Hardware_Final.Domain
@using System.Text.Json;
@{
}

@section mainContent {
    <h1>Process Sale Form</h1>
    <form method="post" onsubmit="" id="processSaleForm" >
        <table>
            <tr>
                <h2>Salesperson Select:</h2>
                <table id="saleTable" style="margin: 10px 0px;">
                    <tr>
                        <td>Salesperson ID:</td>
                        <td>
                            <input asp-for="SalespersonID" type="text" autocomplete="off" list="salespeople" placeholder="Search..." name="SalespersonID" id="SalespersonID">
                            <datalist id="salespeople">
                                @foreach (Salesperson salesperson in Model.Salespeople)
                                {
                                    <option value="@salesperson.SalespersonID" data-salesperson="@System.Web.HttpUtility.HtmlEncode(Json.Serialize(salesperson))">@salesperson.FirstName @salesperson.LastName</option>
                                }
                            </datalist>
                        </td>
                    </tr>
                </table>
                <table id="salespersonDetails" style="margin: 10px 0px;">
                </table>
                <button type="button" id="LoadSalespersonDetails" >Load Salesperson Details</button>
                <h2>Customer Select:</h2>
                <table style="margin: 10px 0px;">
                    <tr>
                        <td>Customer ID:</td>
                        <td>
                            <input asp-for="CustomerID" type="text" autocomplete="off" list="customers" placeholder="Search..." name="CustomerID" id="CustomerID">
                            <datalist id="customers">
                                @foreach (Customer customer in Model.Customers)
                                {
                                    <option value="@customer.CustomerID" data-customer="@System.Web.HttpUtility.HtmlEncode(Json.Serialize(customer))">@customer.FirstName @customer.LastName</option>
                                }
                            </datalist>
                        </td>
                    </tr>
                </table>
                <button type="button" id="LoadCustomerDetails" style="margin-top: 20px;">Load Customer Details</button>
                <table id="customerDetails">
                </table>
            </tr>
            <tr>
                <h2>Add an Item to Sale:</h2>
                <table style="margin: 10px 0px;">
                    <tr>
                        <td>Item Number:</td>
                        <td>
                            <input asp-for="ItemNumber" type="text" autocomplete="off" list="items" placeholder="Search..." name="ItemNumber" id="ItemNumber">
                            <datalist id="items">
                                @foreach (Item item in Model.Items)
                                {
                                    <option value="@item.ItemNumber" data-item="@System.Web.HttpUtility.HtmlEncode(Json.Serialize(item))">@item.Description</option>
                                }
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td>
                            <input asp-for="Quantity" type="text" autocomplete="off" name="Quantity" id="Quantity" />
                        </td>
                    </tr>
                </table>
                <button type="button" id="AddItemToSale">Add</button>
                <h3>Sale Items</h3>
                <table id="saleItemsTable" style="margin: 10px 0px;">
                    <tr>
                        <th>Item Number</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Item Total</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </tr>
            <tr>
                <table style="margin: 10px 0px;">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            Subtotal:
                        </td>
                        <td id="subtotal">
                            $0.00
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            GST:
                        </td>
                        <td id="gst">
                            $0.00
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            Sale Total:
                        </td>
                        <td id="saleTotal">
                            $0.00
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
        <button type="submit" id="Submit" style="margin: 10px 0;">Submit</button>
        <button type="button" id="Reset" style="margin: 10px 0;">Reset Form</button>
        <input asp-for="SaleItems" type="hidden" name="SaleItems" id="SaleItems" />
        <input asp-for="SaleTotal" type="hidden" name="SaleTotal" id="SaleTotal" />
        <input asp-for="SubTotal" type="hidden" name="SubTotal" id="SubTotal" />
        <input asp-for="GST" type="hidden" name="GST" id="GST" />
    </form>
    @Model.ConfirmationMessage
}

@section scriptContent {
    <script src="~/js/ProcessSale.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('AddItemToSale').addEventListener('click', function () {
                var itemNumber = document.getElementById('ItemNumber').value;
                var quantity = document.getElementById('Quantity').value
                storeItem(itemNumber, quantity);
                document.getElementById('ItemNumber').value = "";
                document.getElementById('Quantity').value = "";
            });

            document.getElementById('Submit').addEventListener('click', function () {
                submit();
            });

            document.getElementById('Reset').addEventListener('click', function() {
                sessionStorage.clear();
                location.reload();
            });

            document.getElementById('LoadCustomerDetails').addEventListener('click', function() {
                loadCustomerDetails(document.getElementById('CustomerID').value);
            });

            document.getElementById('LoadSalespersonDetails').addEventListener('click', function() {
                loadSalespersonDetails(document.getElementById('SalespersonID').value);
            });
            
        });
    </script>
}